.home #menu:before { opacity: 0.7; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #eee; content: ' '; display: block; z-index: -1; }
.home #menu { position: fixed; z-index: 9999999; width: 100%; list-style-type: none; margin: 0; padding: 0; }
.home #menu:after { clear: both; }
.home #menu li { opacity: 1; float: left; }
.home #menu li.active a { background-color: #460503; color: #fff; }
.home #menu li a { display: block; padding: 10px 20px; color: #2A0100; text-decoration: none; text-transform: uppercase; }
.home #menu li a:hover { background-color: #460503; color: #fff; }

.home #fullpage .about-us {}
.home #fullpage .about-us .slide[data-anchor=slide1] { background: url('../images/739589-aviation-wallpaper.jpg') center center no-repeat #fff; }
.home #fullpage .about-us .slide[data-anchor=slide2] { background: url('../images/Aircraft-HD-Wallpapers33.jpg') center center no-repeat #fff; }
.home #fullpage .about-us h1 { color: #fff; }
.home #fullpage .about-us p { color: #fff; font-size: 18px; }
.home #fullpage .section { position: relative; }